# Nothing allowed except for jupyter notebooks, the slides, and support files.
*
!.gitignore
!README.md
!requirements.txt
!/LICENSE
!/slides.pdf

!TimeDomain
!TimeDomain/CompressibleEuler1D
!TimeDomain/VortexShedding2D
!FrequencyDomain
!FrequencyDomain/MassSpringDamper
!FrequencyDomain/ThermalDiffusion
!FrequencyDomain/PorousBone

!*/README.md
!*/*/README.md
!*/*/*.ipynb
!*/*/*.py
